<!-- /snippets/ajax-cart-template.liquid -->

  <script id="CartTemplate" type="text/template">

  {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">
      <div class="ajaxcart__inner">
        {{#items}}
        <div class="ajaxcart__product">
          <div class="ajaxcart row" data-line="{{line}}">

              <div class="grid__item one-quarter no-padding">
                <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt=""></a>
              </div>
              <div class="grid__item three-quarters ajaxcart-right">
                <p class="ajax-rtinnerleft">
                  <a href="{{url}}" class="ajaxcart__product-name">{{name}}</a>
                    {% endraw %}
                    {% raw %}
                </p>
                <p class="ajax-rtinnerright">{{{price}}}</p>
				<div class="grid__item one-whole no-padding" style="margin-bottom: 5px;">
    			<span class="color--grey marginright5">{{opn}}</span><span class="color--black">{{opv}}</span>
    			</div>
                <div class="grid__item one-whole no-padding" style="margin-bottom: 5px;">
    			<span class="color--grey marginright5">{{opn1}}</span><span class="color--black">{{opv1}}</span>
    			</div>
                <div class="grid__item one-whole no-padding">
                  
                    <div class="ajaxcart__qty">
                        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">                        
                        <span>+</span>
                      </button>
                      <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                    
                      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="{{id}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                        <span>&minus;</span>
                      </button>
                    </div>
                    <div class="ajaxremove">
                      <a href="/cart/change?line={{line}}&amp;quantity=0" class="ajaxifyCartremove" data-line="{{line}}">Remove</a>
                    </div>
                  </div>
            
              </div>

          </div>
        </div>
        {{/items}}

        {% endraw %}{% raw %}
      </div>
      <div class="ajaxcart__footer row">

          <div class="ajaxsubtext">
            <p><strong>{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</strong></p>
          </div>
          <div class="ajaxsubtotal">
            <p class="text-right">{{{totalPrice}}}</p>
          </div>
          <div class="checkout-part">
              <div class="chekout-label">Taxes, shipping and discount codes are applied at checkout</div>
             <a class ="btn-checkout btn ajax-checkout" href="/checkout">check out</a>
          </div>
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="AjaxQty" type="text/template">
  {% raw %}
    <div class="ajaxcart__qty">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text">&minus;</span>
      </button>
      <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
      <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text">+</span>
      </button>
    </div>
  {% endraw %}
  </script>
  <script id="JsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus quantity-increment" data-id="{{id}}" data-qty="{{itemMinus}}">
        <span>&minus;</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus quantity-increment" data-id="{{id}}" data-qty="{{itemAdd}}">
        <span>+</span>
      </button>
    </div>
  {% endraw %}
  </script>